
{{>header}}

<div class="row">
    <div class="col-lg-6 col-md-12 col-12 d-flex justify-content-center">
        <img src="../public/svg/welcome.svg" class="welcome" alt="welcome image">                
    </div>
    <div class="col-lg-6 col-md-12 col-12 justify-content-center mt-3">
        <h2 class="text-center">Welcome to people Online</h2>
        <p  class="text-center p-2">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
                <a href="/register"><button type="button" class="btn btn-primary">Register</button></a>
            </div>
        </div>                
    </div>    
</div>    


{{>footer}}

